<div class="form-wrapper font-weight-normal">
    <h3>create</h3>
    <form method="post" action="/products/store">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label text-dark">Name:</label>
            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label text-dark">Price:</label>
            <div class="col-sm-10">
                <input type="text" name="price" class="form-control" id="price" placeholder="Price">
            </div>
        </div>
        <div class="form-group row">
            <label for="type" class="col-sm-2 col-form-label text-dark">Type:</label>
            <div class="col-sm-10">
                <input type="text" name="type" class="form-control" id="type" placeholder="Type">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-dark">Image:</label>
            <div class="col-sm-10" style="text-align: left;">
                <img id="output" src="/img/product/default.png" style="width: 100px"/>
                <label for="image" style="cursor: pointer;">Chọn file upload </label>
                <input type="file" name="image" class="form-control-file" id="image" onchange="loadFile(event)" style="display: none;"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>